<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Elo">
        <activity android:name=".tags" />
        <activity android:name=".tasks"/>
        <activity android:name=".employees"/>
        <activity android:name=".constructor"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".workerMain"/>
        <activity android:name=".workerProfile"/>
        <activity android:name=".workerNotifications"/>
        <activity android:name=".workerSearch"/>
        <activity android:name=".continueElo"/>
        <activity android:name=".manageElo"/>
        <activity android:name=".requests"/>
        <activity android:name=".acceptTask"/>
        <activity android:name=".profile"/>
        <activity android:name=".notifications"/>
        <activity android:name=".search"/>
        <activity android:name=".EloInfo"/>
        <activity android:name=".addEloConfirm"/>
        <activity android:name=".tagsConfirm"/>
        <activity android:name=".employeesConfirm"/>
        <activity android:name=".tasksConfirm"/>
        <activity android:name=".adminConstructor"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".adminProfile"/>
        <activity android:name=".adminMain"/>
        <activity android:name=".adminNotifications"/>
        <activity android:name=".adminSearch"/>
        <activity android:name=".manageUsers"/>
        <activity android:name=".changeInfo"/>
        <activity android:name=".notificationPage"/>
        <activity android:name=".auth"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".password_reset"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".MainActivity"/>

    </application>

</manifest>